<img src="./../../../assets/icon.png" class="img-tab-product-lanscape">

<nav>
    <div id="nav">
        <img src="./../../../assets/icon2.png" class="img-abt">
    
        <ul>
            <li><a routerLink="/home" >Home</a></li>
            <li><a routerLink="/products">Products</a>
                
    
            </li>
            <li><a routerLink="/contact" >Contacts-us</a></li>
            <li><a routerLink="/about" >About-us</a></li>
            </ul>
        
    </div>
</nav>
<img src="./../../../assets/icon.png" class="img-mobi-abt" >
<img src="./../../../assets/icon.png" class="img-tab-product">

<h1 class="h1-mobi-abt">About-us</h1>
        <h1 class="h1-abt" >About-us</h1>
        <h1 class="heading-lanscape-about">windows</h1>
        <h5 class="h5-abt"><a routerLink="/home">HOME</a>/about</h5>
        <h1 class="h1-abt-ipad" >About-us</h1>
        <ul class="about-ipad">
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/products" >Products</a></li>
         
          <li><a routerLink="/contact" >contact</a></li>
          </ul>   
        <div class="paraa">
          <p class="para1">Bokamoso ALUMINIUM , designs and installs aluminium windows, doors, windows, bulglars and gates, 
        as well as almost any other kind of architectural aluminium product. Bokamoso are the specialists in a variety of standard and customised units
      and have successfully completed numerous prestigious projects mostly in residential. While most projects are large, 
      we also efficiently undertake smaller works, like, renovations, replacements of doors or windows.<br><br>
      Bokamoso ALUMINIUM was established in Limpopo and the premisses are situated in Retreat,
        Polokwane. While our principal area of operation is Polokwane and the LiMPOPO, we also undertake projects in other provinces. 
        As a company we are solutions-driven, which ensures that you receive precisely what is ordered, 
        when it is required, and pride ourselves on our reputation for attention to detail, quality and client 
        satisfaction.<br>
        Our combination of manufacturing expertise and installation services ensures
                       that all work is carried out in an efficient, structured and professional manner.
                         All Bokamoso products are installed by Bokamoso installation teams to
                         preserve the integrity and quality of our product(s).
                 
                    The finished sections when installed have a straighter, cleaner stylish look which appeals to the
                     discerning and most architects as well as interior designers.

                    
                    Should you require further quotes for products and services related to aluminium
                     do not hesitate to contact Bokamoso Aluminium.
      </p>
              </div>
              
        
         <div class="view-lanscape"> 
          <div  class="d-flex">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
              <li ngbNavItem="top">
                <a ngbNavLink>Top</a>
                <ng-template ngbNavContent>
                  <p class="bring" >
                    
                    Bokamoso ALUMINIUM , designs and installs aluminium windows, doors, windows, bulglars and gates, 
                    as well as almost any other kind of architectural aluminium product. Bokamoso are the specialists in a variety of standard and customised units
                     and have successfully completed numerous prestigious projects mostly in residential. While most projects are large, 
                    we also efficiently undertake smaller works, like, renovations, replacements of doors or windows.</p>
                </ng-template>
              </li>
              <li ngbNavItem="middle">
                <a ngbNavLink>Middle</a>
                <ng-template ngbNavContent>
                  <p class="bring2">Bokamoso ALUMINIUM was established in Limpopo and the premisses are situated in Retreat,
                    Polokwane. While our principal area of operation is Polokwane and the LiMPOPO, we also undertake projects in other provinces. 
                    As a company we are solutions-driven, which ensures that you receive precisely what is ordered, 
                    when it is required, and pride ourselves on our reputation for attention to detail, quality and client 
                    satisfaction.</p>
                </ng-template>
              </li>
              <li ngbNavItem="bottom">
                <a ngbNavLink>Bottom</a>
                <ng-template ngbNavContent>
                  <p class="bring3">Our combination of manufacturing expertise and installation services ensures
                       that all work is carried out in an efficient, structured and professional manner.
                         All Bokamoso products are installed by Bokamoso installation teams to
                         preserve the integrity and quality of our product(s).
                 
                    The finished sections when installed have a straighter, cleaner stylish look which appeals to the
                     discerning and most architects as well as interior designers.

                    
                    Should you require further quotes for products and services related to aluminium
                     do not hesitate to contact Bokamoso Aluminium.
                    </p>
                </ng-template>
              </li>
            </ul>
          
            <div [ngbNavOutlet]="nav" class="ml-4"></div>
          </div>
          </div>
        
          <h1 class="h1-mobi-abt">About-us</h1>
          
        <ul class="ul-abt-mobi">
          <li><a routerLink="/home" >Home</a></li>
          <li><a routerLink="/products" >Products</a></li>
         
          <li><a routerLink="/contact" >contact</a></li>
          </ul>

         

            <ul class="lanscape-about">
              <li><a routerLink="/home" >Home</a></li>
              <li><a routerLink="/products" >Products</a></li>
             
              <li><a routerLink="/contact" >contact</a></li>
              </ul>
              <div class="view"> 
                <div  class="d-flex">
                  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                    <li ngbNavItem="top">
                      <a ngbNavLink>Top</a>
                      <ng-template ngbNavContent>
                        <p>
                          
                          Bokamoso ALUMINIUM , designs and installs aluminium windows, doors, windows, bulglars and gates, 
                          as well as almost any other kind of architectural aluminium product. Bokamoso are the specialists in a variety of standard and customised units
                           and have successfully completed numerous prestigious projects mostly in residential. While most projects are large, 
                          we also efficiently undertake smaller works, like, renovations, replacements of doors or windows.</p>
                      </ng-template>
                    </li>
                    <li ngbNavItem="middle">
                      <a ngbNavLink>Middle</a>
                      <ng-template ngbNavContent>
                        <p >Bokamoso ALUMINIUM was established in Limpopo and the premisses are situated in Retreat,
                          Polokwane. While our principal area of operation is Polokwane and the LiMPOPO, we also undertake projects in other provinces. 
                          As a company we are solutions-driven, which ensures that you receive precisely what is ordered, 
                          when it is required, and pride ourselves on our reputation for attention to detail, quality and client 
                          satisfaction.</p>
                      </ng-template>
                    </li>
                    <li ngbNavItem="bottom">
                      <a ngbNavLink>Bottom</a>
                      <ng-template ngbNavContent>
                        <p >Our combination of manufacturing expertise and installation services ensures
                             that all work is carried out in an efficient, structured and professional manner.
                               All Bokamoso products are installed by Bokamoso installation teams to
                               preserve the integrity and quality of our product(s).
                       
                          The finished sections when installed have a straighter, cleaner stylish look which appeals to the
                           discerning and most architects as well as interior designers.
      
                          
                          Should you require further quotes for products and services related to aluminium
                           do not hesitate to contact Bokamoso Aluminium.
                          </p>
                      </ng-template>
                    </li>
                  </ul>
                
                  <div [ngbNavOutlet]="nav" class="ml-4"></div>
                </div>
                </div>

                <div class="paraa-ipad">
                  <p class="para1">Bokamoso ALUMINIUM , designs and installs aluminium windows, doors, windows, bulglars and gates, 
                as well as almost any other kind of architectural aluminium product. Bokamoso are the specialists in a variety of standard and customised units
              and have successfully completed numerous prestigious projects mostly in residential. While most projects are large, 
              we also efficiently undertake smaller works, like, renovations, replacements of doors or windows.
              Bokamoso ALUMINIUM was established in Limpopo and the premisses are situated in Retreat,
                Polokwane. While our principal area of operation is Polokwane and the LiMPOPO, we also undertake projects in other provinces. 
                As a company we are solutions-driven, which ensures that you receive precisely what is ordered, 
                when it is required, and pride ourselves on our reputation for attention to detail, quality and client 
                satisfaction.
                Our combination of manufacturing expertise and installation services ensures
                               that all work is carried out in an efficient, structured and professional manner.
                                 All Bokamoso products are installed by Bokamoso installation teams to
                                 preserve the integrity and quality of our product(s).
                         
                            The finished sections when installed have a straighter, cleaner stylish look which appeals to the
                             discerning and most architects as well as interior designers.
        
                            
                            Should you require further quotes for products and services related to aluminium
                             do not hesitate to contact Bokamoso Aluminium.
              </p>
                      </div>

           
                              
                      
                      
                
         
   
