<img src="./../../../assets/icon.png" class="img-tab-product-lanscape">
<nav>
    <div id="nav-win">
        <img src="./../../../assets/icon2.png">
       
        <ul>
            <li><a routerLink="/home" >Home</a></li>
            <li>Products
                
    
            </li>
            <li><a routerLink="/contact" >Contacts-us</a></li>
            <li><a routerLink="/about" >About-us</a></li>
            </ul>
        
    </div>
    <nav>
      <img src="./../../../assets/icon.png" class="img-mobile-product">
      <img src="./../../../assets/icon.png" class="img-tab-product">
      

<h1 class="win-h1">Windows</h1>
<h1 class="heading-product-mobile">Windows</h1>
<h1 class="heading-prod-tab">windows</h1>
<p class="p-win"><a routerLink="/home">HOME</a>/Produts/windows</p>
<div class="slider">
<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="imgg" src="./../../../assets/window4.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
      
       
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  class="imgg" src="./../../../assets/window1.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
     
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="imgg" src="./../../../assets/windows2.jpg" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imgg" src="./../../../assets/windows3.jpg" alt="Random 4th slide">
        </div>
        <div class="carousel-caption">
      
          
        </div>
      </ng-template>
  </ngb-carousel>
</div>

<div class="slider-product-mobile">
  <ngb-carousel >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imgg" src="./../../../assets/window1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
        
         
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img  class="imgg" src="./../../../assets/window4.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
       
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="imgg" src="./../../../assets/windows2.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          
          
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imgg" src="./../../../assets/windows3.jpg" alt="Random 4th slide">
          </div>
          <div class="carousel-caption">
        
            
          </div>
        </ng-template>
    </ngb-carousel>
  </div>
  <div class="slider-product-tab">
    <ngb-carousel >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imgg" src="./../../../assets/window1.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
          
           
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img  class="imgg" src="./../../../assets/windows2.jpg" alt="Random second slide">
          </div>
          <div class="carousel-caption">
         
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="imgg" src="./../../../assets/windows3.jpg" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            
            
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img class="imgg" src="./../../../assets/window4.jpg" alt="Random 4th slide">
            </div>
            <div class="carousel-caption">
          
              
            </div>
          </ng-template>
      </ngb-carousel>
    </div>
    <div class="slider-product-tab-lanscape">
      <ngb-carousel >
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img class="imgg" src="./../../../assets/window1.jpg" alt="Random first slide">
            </div>
            <div class="carousel-caption">
            
             
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img  class="imgg" src="./../../../assets/windows2.jpg" alt="Random second slide">
            </div>
            <div class="carousel-caption">
           
              
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img class="imgg" src="./../../../assets/windows3.jpg" alt="Random third slide">
            </div>
            <div class="carousel-caption">
              
              
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="imgg" src="./../../../assets/window4.jpg" alt="Random 4th slide">
              </div>
              <div class="carousel-caption">
            
                
              </div>
            </ng-template>
        </ngb-carousel>
      </div>

<ul class="ul-win">
    <li><a routerLink="/products" >Garage doors</a></li>
    <li><a routerLink="" >Windows</a></li>
    <li><a routerLink="/gates" >gates</a></li>
    <li><a routerLink="/sliding" >sliding-doors</a></li>
    <li> <a routerLink="/bulglar" >burglar-bars</a></li>
</ul>
<button class="button-mobile"><a routerLink="/home" >HOME</a></button>
<div class="nav-mobile-product"> 
  <nav class="nav-nav-product">
  <ul class="navv-mobile-product">
    <li><a routerLink="/products" ><img src="./../../../assets/garage.png" class="icon"></a></li>
      <li><a routerLink="/windows" ><img src="./../../../assets/windows.jpg" class="icon"></a></li>
      <li><a routerLink="/gates" ><img src="./../../../assets/gate.png" class="icon"></a></li>
      <li><a routerLink="/sliding" ><img src="./../../../assets/sliding.jpg" class="icon"></a></li>
      <li><a routerLink="/bulglar" ><img src="./../../../assets/burglar.png" class="icon"></a></li>
      </ul>
      </nav>
</div> 
<div class="nav-prod-tab">
  <nav class="nav-nav-product">
  <ul class="navv-tab-product">
    <li><a routerLink="/products" ><img src="./../../../assets/garage.png" class="icon" ><p class="icon-tab-prod-para">garage</p></a></li>
      <li><a routerLink="/windows" ><img src="./../../../assets/windows.jpg" class="icon"><p class="icon-tab-prod-para">windows</p></a></li>
      <li><a routerLink="/gates" ><img src="./../../../assets/gate.png" class="icon"><p class="icon-tab-prod-para">gates</p></a></li>
      <li><a routerLink="/sliding" ><img src="./../../../assets/sliding.jpg" class="icon"><p class="icon-tab-prod-para">sliding</p></a></li>
      <li><a routerLink="/bulglar" ><img src="./../../../assets/burglar.png" class="icon"><p class="icon-tab-prod-para">burglar</p></a></li>
      </ul>
      </nav>
     </div>
     <div class="nav-prod-landscpe">
      <nav class="nav-nav-product">
      <ul class="navv-tab-product">
        <li><a routerLink="/products" ><img src="./../../../assets/garage.png" class="icon" ><p class="p-icon">garage</p></a></li>
          <li><a routerLink="/windows" ><img src="./../../../assets/windows.jpg" class="icon"><p class="p-icon">windows</p></a></li>
          <li><a routerLink="/gates" ><img src="./../../../assets/gate.png" class="icon"><p class="p-icon">gates</p></a></li>
          <li><a routerLink="/sliding" ><img src="./../../../assets/sliding.jpg" class="icon"><p class="p-icon">sliding</p></a></li>
          <li><a routerLink="/bulglar" ><img src="./../../../assets/burglar.png" class="icon"><p  class="p-icon">burglar</p></a></li>
          </ul>
          </nav>
         </div>


