<img src="assets/icon.png" class="img-tab">
<div id="nav">
    <img src="assets/icon.png" class="img">
    <img src="assets/icon.png" class="img-tab-landscape">
  
   <nav>
       <div >
    <ul class="navv">
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="" >Products</a>
                <ul class="new">
                <li class="new2"><a routerLink="/products" >Garage doors</a></li>
                <li><a routerLink="/windows" >Windows</a></li>
                <li><a routerLink="/gates" >gates</a></li>
                <li><a routerLink="/sliding" >sliding-doors</a></li>
                <li> <a routerLink="/bulglar" >burglar-bars</a></li>
            </ul> 
        </li>
        <li><a routerLink="/contact" >Contacts-us</a></li>
        <li><a routerLink="/about" >About-us</a></li>
        </ul>
       </div>
    </nav>
</div>


   <img src="assets/icon.png" class="img-mobile">
   

<h1 class="h1-home">BOKAMOSO ALUMINIUM</h1>

<h1 class="h1-tab">BOKAMOSO ALUMINIUM</h1>
<h4 class="h4-home">ALWAYS DEDICATED AND DEVOTED</h4>
<h4 class="h4-tab">ALWAYS DEDICATED AND DEVOTED</h4>
<div class="navv-tab-landscape">
    <ul class="navv-tab-landscape">
        <li><a routerLink="/home" >Home</a></li>
        <li><a routerLink="/products" >Products</a>
              <!--  <ul class="new">
                <li class="new2"><a routerLink="/products" >Garage doors</a></li>
                <li><a routerLink="/windows" >Windows</a></li>
                <li><a routerLink="/gates" >gates</a></li>
                <li><a routerLink="/sliding" >sliding-doors</a></li>
                <li> <a routerLink="/bulglar" >burglar-bars</a></li>
            </ul> -->
        </li>
        <li><a routerLink="/contact" >Contacts-us</a></li>
        <li><a routerLink="/about" >About-us</a></li>
        </ul>
       </div>



<button class="button-mobile"><a routerLink="/contact" >Contact-us</a></button>

<button class="button"><a routerLink="/contact" >Contacts-us</a></button>
<div class="nav-mobile"> 
    <nav class="nav-nav">
    <ul class="navv-mobile">
        <li><a routerLink="/home" ><i class="fas fa-home"></i></a></li>
        <li><a routerLink="/products" ><i class="fab fa-product-hunt"></i></a></li>
        <li><a routerLink="/contact" ><i class="fas fa-id-card-alt"></i></a></li>
        <li><a routerLink="/about" ><i class="fas fa-info-circle"></i></a></li>
        </ul>
        </nav>
</div> 

    <div class="navvv-tabe" >
 <ul class="navv-tab">
     <li><a routerLink="/home" >Home</a></li>
     <li><a routerLink="/products" >Products</a>
            <!-- <ul class="new">
             <li class="new2"><a routerLink="/products" >Garage doors</a></li>
             <li><a routerLink="/windows" >Windows</a></li>
             <li><a routerLink="/gates" >gates</a></li>
             <li><a routerLink="/sliding" >sliding-doors</a></li>
             <li> <a routerLink="/bulglar" >burglar-bars</a></li>
         </ul> -->
     </li>
     <li><a routerLink="/contact" >Contacts-us</a></li>
     <li><a routerLink="/about" >About-us</a></li>
     </ul>
    </div>
    <h1 class="h1-home-tab-landscape">BOKAMOSO ALUMINIUM</h1>
    <h4 class="h4-tab-landscape">ALWAYS DEDICATED AND DEVOTED</h4>