body{
    margin: 0;
    padding: 0;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;
    margin-right: 150px;
}
li{
    display: inline-block;
    padding: 15px  30px;
   
}

a:hover{
    color: red;
    transition: 0.5s;
}
#nav{
    background-color:whitesmoke;
    width: 1200px;
  margin-left: 100px;
  margin-right: 70px;
  margin-top: 20px;
position: relative;

    
}
h1{
    text-align: center;
    position: relative;
}

h1::after{
content: '';
height:2px;
width:5%;
background-color: red;
position: absolute;
bottom: 0;
right:600px;
}
nav ul ul{
    position: absolute;
    

display: none;
}

nav ul li:hover > ul{
    display:grid;
}

nav ul ul li{
    
    background-color: whitesmoke;
}
img{
    position: relative;
    left: 50px;

}
.picsum-img-wrapper{
    height:22em;
    position: relative;
    width:650px;
    margin: 0 auto;
    
}
.imgg{
    width:650px;
    height:650px;
    position: relative;
    right:-100px;
}
@media only screen and (min-width: 992px ){
    .nav-prod-landscpe{display: none;}
    .slider-product-tab-lanscape{display: none;}
    .img-tab-product-lanscape{display: none;}
    .img-mobile-product{display: none;}
    .heading-product-mobile{display: none;}
    .slider-product-mobile{display: none;}
    .nav-mobile-product{display: none;}
    .button-mobile{display: none;}
    .img-tab-product{display: none;}
    .slider-product-tab{
        display: none;
    }
    .nav-prod-tab{display: none;}
}

